body,ul{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 1120px;
  margin: 0 auto;
 

}
.banner {
  width: 790px;
  height: 340px;
  margin: 0 auto;
  position: relative;
  background-color: red;
}
.banner .btn {
  width: 30px;
  height: 60px;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 50%;
  margin-top: -30px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  cursor: pointer;
  color: white;

}
.banner .rightBtn {
  right: 0;
}
.banner .btn:hover {
  background-color: rgba(0,0,0,0.6);
}
.container .banner ul {
  width: 114px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -57px;
 


}
.banner ul li {
  width: 12px;
  height: 12px;
  background-color: #fff;
  float: left;
  border-radius: 6px;
  /* margin-left: 5px; */
}
.banner ul li+li {
  margin-left: 5px;
}



.banner ul li.active {
  background-color: red;
}
.banner .content .item{
  display: none;
}
.banner .content .item.active {
  display: block;
}

